<br>
<br>
<form action="/add_message_to_chat" method="post" data-dashlane-rid="e77b76f33059a0e5" data-form-type="other">
  <label for="new_message_field">You:</label>
  
  <input id="new_message_field" type="text" name="user_message" placeholder="Enter a message...." data-dashlane-rid="d07a0eb93e5fb79f" data-form-type="other">

  <button data-dashlane-label="true" data-dashlane-rid="5835c6ac3ef58710" data-form-type="other">Send</button>
</form>
<hr>
<form action="/clear_chat" method="post">
  <button>Clear chat history</button>
</form>
