<h1>GPT single message</h1>
<form action="/process_single_message" method="post" data-dashlane-rid="12c63837e19a3cf4" data-form-type="other">
  <label for="the_message_field">Your message:</label>
  <input id="the_message_field" type="text" name="the_message" data-dashlane-rid="77e0a5d2191d62f2" data-form-type="other">

  <button data-dashlane-label="true" data-dashlane-rid="f8478a812411d67b" data-form-type="other">Send!</button>
</form>
