<h1>Should I take an umbrella?</h1>
<form action="/process_umbrella" method="post" data-dashlane-rid="99e4a7cc0d45f536" data-form-type="other">
  <label for="location_field">Where are you located?</label>
  <input id="location_field" type="text" name="user_loc" data-dashlane-rid="41c7d813dfd38e7f" data-form-type="address,city" data-kwimpalastatus="alive" data-kwimpalaid="1694536477193-0">

  <button data-dashlane-label="true" data-dashlane-rid="549874872473d433" data-form-type="action">Submit</button>
</form>

